.white-background
{
    background-color: rgba(253, 252, 252, 0.767);
    text-indent: 2%;
    color: #001d47;


}

h1
{
    color: #ac7611;
    margin-bottom: 20px;
}

h3
{
    color: #ac7611;
    margin-bottom: 20px;
}



.aszf-lista ul
{
    list-style-type: disc;
}

.aszf-lista li
{
    margin-left: 50px;
    margin-right: 50px;
    display: list-item;
    text-align: webkit;
}

.vissza
{
    margin-bottom: 2%;
    margin-left: 42%;
}
