.contacts, .container.contacts {
    width: 100%;
    max-width: unset;
}

.contact_details, .contact_details.col  {
    background-color: aliceblue;
    width: 100% !important;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
}

.flexbox {
    width: 100% !important;
}

.input-container {
    min-width:80% ;
}

.data-container {
    min-width: 50%;
}
.col {
    margin: 0 !important;
    padding: 0 !important;
}

.contact_details p {
    font-size: 20px;
    margin-top: 30px;
}

.form-title {
   min-width:60%;
}

.g-maps {
    width: 98%;
    height: 600px;
    max-width: 800px;
}

@media screen and (max-width: 550px) {
    .g-maps {
        height: 400px;
    }
}
