/* LOGIN FORM */

.login-main-container, .registration-container {
    margin: 25px auto;
    padding: 0;
    max-width: 500px;
    width: 100%;
    height: 652px;
    border: thin solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    background-color:#2d1e78;
    background: url('../img/regablak.png');
}

.registration-container {
    height: 742px;
}

.input-container {
    max-width: 500px;
    width: 100%;
    height: 350px;
    margin-top: 300px;
    background-color: white;
    border-radius: 50% 0 25px 25px;
    padding: 45px 15px;
}

.registration-container .input-container {
    height: 440px;
}

.form-title {
    text-align: center;
    display: block;
    color: rgb(6, 81, 119);
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 3px 3px 0px #6661837e;
}

.login-form input, .registration-container input, .registration-container select {
    width: 20rem;
    display: block;
    margin: 0.3em auto;
    padding: 0.35em 0.8em;
    border-radius: 50px;
}

.login-form label {
    display: initial;
    width: fit-content;
    margin: 0;
}

.login-form a, .registration-container a {
    display: initial;
    width: fit-content;
    margin: 0.7em 0;
}

.login-form .row, .registration-container .row {
    justify-content: center;
    align-items: center;
}

.login-form input[type="checkbox"] {
    display: initial;
    width: fit-content;
    height: fit-content;
    margin: 0.5em;
}

.login-form input[type="submit"], .registration-container input[type="submit"] {
    display: initial;
    width: fit-content;
    height: fit-content;
    margin: 0.5em;
    padding: 0.5em 1em;
}

option[value=""][disabled] {
    display: none;
  }