/* LOGIN FORM */

.login-main-container, .registration-container, .changedata-container, .contacts-container {
    margin: 25px auto;
    padding: 0;
    max-width: 500px;
    width: 100%;
    height: 692px;
    border: thin solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    background-color:#2d1e78;
    background: url('../img/regablak.png');
}

.registration-container {
    height: 792px;
}

.changedata-container {
    height: 842px;
}

.contacts-container {
    height: 767px;
}

.input-container {
    max-width: 500px;
    width: 100%;
    height: 390px;
    margin-top: 300px;
    background-color: white;
    border-radius: 50% 0 25px 25px;
    padding: 45px 15px;
}

.registration-container .input-container {
    height: 490px;
}

.changedata-container .input-container {
    height: 540px;
}

.contacts-container .input-container {
    height: 465px;
}

.form-title {
    text-align: center;
    display: block;
    margin: 0.8em auto 0.5em;
    color: rgb(6, 81, 119);
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 3px 3px 0px #6661837e;
}

.login-form input, .login-form textarea, .registration-container input, .changedata-container input, .registration-container select {
    width: 90%;
    display: block;
    margin: 0.3em auto;
    padding: 0.35em 0.8em;
    border-radius: 50px;
    border: solid thin #a4a4a4;
}

.contacts-container textarea {
    margin: 0.3em auto;
    padding: 0.35em 0.8em;
    border-radius: 20px;
    height: 8em;
}

.login-form label {
    display: initial;
    width: fit-content;
    margin: 0;
}

.login-form a, .registration-container a, .changedata-container a {
    display: initial;
    width: fit-content;
    margin: 0.7em 0;
}

.login-form .row, .registration-container .row, .changedata-container .row {
    justify-content: center;
    align-items: center;
}

.login-form input[type="checkbox"] {
    display: initial;
    width: fit-content;
    height: fit-content;
    margin: 0.5em;
}

.login-form input[type="submit"], .registration-container input[type="submit"], .changedata-container input[type="submit"] {
    display: initial;
    width: fit-content;
    height: fit-content;
    margin: 0.5em;
    padding: 0.5em 1em;
}

option[value=""][disabled] {
    display: none;
}

select option {
    padding: 0.2em 1em;
}

.form-control.horizontal_layout {
    width: 100%;
    height: 6em;
}

.imnotarobot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.message_container {
    width: 97%;
    max-width: 600px;
    background-color: #fff;
    color: #292b2e;
    text-align: center;
    margin: 2em auto;
    padding: 1em;
}

select[multiple] {
    height: 12em;
}

/*optgroup > * {
    display: none;
    background-color: rgb(213, 235, 243);
    position: relative;
}

optgroup::before {
    width: fit-content;
    position: relative;
    content: '\2227 '; 
}*/

.checkbox_container {
    width: 100%;
    padding: 0.3em 1em;
    border-radius: 5px;
    background-color: white;
    display: flex;
    gap: 1em;
}

.gdpr_consent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin: 1em 0;
}

.gdpr_consent label {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.form_messages {
    display: none;
}

textarea {
  resize: none;
}

@media screen and (max-width: 375px) {
    .login-main-container, .registration-container {
        width: 97%;
    }
}